<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
      <ul>
        <li v-for="item in movies">{{item}}</li>
      </ul>
      <ul>
        <li v-for="item1 in books">{{item1.name}}-{{item1.author}}</li>
      </ul>
    </div>
    <script src="../../vue.js"></script>
    <script>
        const app = new Vue({
           el: '#app',
           data: {
            message: '你好呀',
                movies: ['星际穿越', '大话西游', '少年派', '盗梦空间'],
                books: [
                    {
                        name: "《星际穿越》",
                        author: '信息1'
                    },
                    {
                        name: "《大话西游》",
                        author: '信息2'
                    },
                    {
                        name: "《少年派》",
                        author: '信息3'
                    },
                ]
           },
           methods:{

           }
        });
    </script>
</body>

</html>